html{
    scroll-behavior: smooth;
}
body{
    background-color: #BCE1DF;
}
.header{
    display: flex;
}
.menu1{
    color: #041a2c;
    font-size: 3vh;
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    margin-left:60vw ;
    margin-top: 3vh;
}
a{
    text-decoration: none;
    color: #041a2c;
}
.menu2{
    color: #041a2c;
    font-size: 3vh;
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    margin-left:10vw ;
    margin-top:3vh ;
}
.menu3{
    color: #041a2c;
    font-size: 3vh;
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    margin-top: 3vh;
    margin-left: 6vw;
}
.main-logo{
    font-family: "josefin-sans", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size:15vw ;
    text-align: center;
    color: #041a2c;
    opacity: 0.5;
}
.main-jap1{
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:4vh ;
    margin-top: -47vh;
    margin-left: 13vw;
    color: #041a2c;
    border-bottom:solid #d6a684 3px;
    width: 43vw;
}
.main-jap2{
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:4vh ;
    margin-left: 13vw;
    margin-top: 2vh;
    color: #041a2c;
    border-bottom:solid #d6a684 3px;
    width: 53vw;
}
.main-title1{
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
    color: #333d85;
    margin-top: 45vh;
    margin-left: 7vw;
    border-right:3px solid #d6a684 ;
    padding-right: 0.25vw;
    width: 15vw;
}
.leader-title1{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 10vw;
}

.leaderboard1{
    width:70vw ;
    height: 62vh;
    background-color: #E6E7E8;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 2vh;
}
table{
    border-collapse:separate;
    border-spacing: 1vw;
    width: 70vw;
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    }

table th,table td{
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

table th{
    background-color: #d6a684;
    color: white;
}

table td{
    background-color: #e4d4bc;
}
.leader-title2{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 10vw;
}
.leader-title3{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 10vw;
}
.leader-title4{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 10vw;
}
.leaderboard2{
    width:70vw ;
    height: 62vh;
    background-color: #E6E7E8;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 2vh;
}
.leaderboard3{
    width:70vw ;
    height: 62vh;
    background-color: #E6E7E8;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 2vh;
}
.leaderboard4{
    width:70vw ;
    height: 62vh;
    background-color: #E6E7E8;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 2vh;
}
.main-title2{
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
    color: #333d85;
    margin-top: 25vh;
    margin-left: 7vw;
    border-right:3px solid #d6a684 ;
    padding-right: 0.25vw;
    width: 20vw;
}

.main-title3{
    font-family: "maru-maru-gothic-blr-stdn", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
    color: #333d85;
    margin-top: 15vh;
    margin-left: 7vw;
    border-right:3px solid #d6a684 ;
    padding-right: 0.25vw;
    width: 18vw;
}
.timetable1{
    width:70vw ;
    height: 75vh;
    background-color: #E6E7E8;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 5vh;
}
.table5{
    margin-left: 15vw;
    margin-top: -75vh;
}
.compet1-title{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 15vw;
    border-bottom:solid #d6a684 3px;
}
.compet1-rule{
    font-family:"maru-maru-gothic-blr-stdn", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vh;
    color: #041a2c;
    margin-left: 15vw;
    margin-top: 5vh;
    width: 70vw;
}

@media screen and (max-width:960px) {
    .menu1{
        font-size: 2.5vh;
        margin-left: 22.5vw;
    }
    .menu2{
        font-size: 2.5vh;
    }
    .menu3{
        font-size: 2.5vh;
    }
    .main-logo{
        font-size:17vw ;
    }
    .main-jap1{
        margin-top:-40vh ;
        margin-left: 2vw;
        width: 100vw;
    }
    .main-jap2{
        width:70vw ;
        margin-top: 11vh;
        margin-left: 15vw;
    }
    .main-title1{
        width: 45vw;
        margin-top: 15vh;
        font-size: 4vh;
    }
    .leader-title1{
        margin-left: 7vw;
    }
    .leaderboard1{
        width: 90vw;
        margin-left: 5vw;
        height: 38vh;
    }
    table{
        width: 90vw;
    }
    .leader-title2{
        margin-left: 7vw;
    }
    .leaderboard2{
        width: 90vw;
        margin-left: 5vw;
        height: 38vh;
    }
    .leader-title3{
        margin-left: 7vw;
    }
    .leaderboard3{
        width: 90vw;
        margin-left: 5vw;
        height: 38vh;
    }
    .leader-title4{
        margin-left: 7vw;
        width: 25vw;
    }
    .leaderboard4{
        width: 90vw;
        margin-left: 5vw;
        height: 38vh;
    }
    .main-title2{
        width: 50vw;
        font-size: 4vh;
    }
    .timetable1{
        width: 90vw;
        margin-left: 5vw;
        height: 47vh;
    }
    .table5{
        margin-top: -47vh;
        margin-left: 5vw;
    }
} 
@media screen and (max-width:600px) {
    .menu1{
        width: 50vw;
        margin-left: 5vw;
    }
    .menu2{
        width: 60vw;
        margin-left: 2vw;
    }
    .main-jap1{
        display: none;
    }
    .main-jap2{
        display: none;
    }
    .main-title1{
        font-size: 3vh;
        margin-top: 5vh;
    }
    .leader-title1{
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }
    table{
        font-size: 1.5vh;
        width:200vw ;
        overflow-x: scroll;
        display: block;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .leaderboard1{
        width: 90vw;
        margin-left: 5vw;
        overflow: scroll;
    }
    .leader-title2{
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }
    .leaderboard2{
        width: 90vw;
        margin-left: 5vw;
        overflow: scroll;
    }
    .leader-title3{
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }
    .leaderboard3{
        width: 90vw;
        margin-left: 5vw;
        overflow: scroll;
    }
    .leader-title4{
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }
    .leaderboard4{
        width: 90vw;
        margin-left: 5vw;
        overflow: scroll;
    }
    .timetable1{
        height: 52vh;
    }
    .table5{
        margin-top: -52vh;
    }
    .main-title2{
        font-size: 3vh;
    }
}